body {
    font-family: 'Poppins', sans-serif;
}
:root {
    --yellow:  #faa850;
    --green:  #858544;
    --red: #802629;
    --navbar-bg:rgba(212, 212, 212, .8);
    --white:#ffffff;
    --tan:#FEE1C3;
}

.icons-bar {
    background-color: var(--yellow);
    padding: 3px;
}

.search-icon {
background-color: var(--white);
opacity: .5;
border-radius: 4px;
height: 26px;
margin-left: 10px;
}
.icons-container {
    display: flex;
    align-items: center;
}
.navbar-brand.website-logo {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}
.navbar-brand.navbar-link {
    text-align: center;
    color: var(--green);
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}
.navbar-brand.contest {
    text-align: center;
    color: var(--red);
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}
.navbar-customize {
    background-color: var(--navbar-bg);
    position: absolute;
    top: 0px;
    width: 100%;
}
.header-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url(../img/header.jpg);
    display: flex;
    flex-direction: column;
   justify-content: flex-end;
   position: relative;
}
.header-heading {
    color: var(--white);
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
}
.saperator-bar {
    background-color: var(--red);
    height: 20px;
}



/* ABOUT SECTION */

.about-container {
    background-color: var(--tan);
    padding-top: 40px;
}
.phone-image {
    height: 400px;
    width: 300px;
}
@media only screen and (max-width:992px) {
    .phone-image {
        display: flex;
        margin: auto;
    }
    .about-heading {
        text-align: center;
        padding-top: 20px;
    }
    .about-paragraph {
        text-align: center;
        width: 100% !important;
    }
    .button-customize.btn-dark {
        width: 100% !important;
    }
}
.about-heading {
    font-size: 40px;
    font-weight: normal;
    color: var(--green);
}
.about-paragraph {
    /* padding: 10px; */
    width: 90%;
}
.button-customize.btn-dark {
width: 90%;
}
.button-customize.btn {
    font-weight: 500;
    border-radius: 0px;
}
.exploring {
    background-color: var(--green);
    color: var(--white);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.map-container {
    background-color: #331111;
}
.heading-color{
    color: var(--yellow);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}